@import "tailwindcss";

@font-face {
  font-family: 'DMSans-Variable';
  src: url('./fonts/DMSans - Variable.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans Italic-Variable';
  src: url('./fonts/DMSans Italic - Variable.woff2') format('woff2');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@theme {
   /* Colores */

    /* PrimarioMMM 41 EDICION - AZUL  */
  --color-primarioMMM-50:  #248ccc;
  --color-primarioMMM-100: #1c7fc3;
  --color-primarioMMM-200: #1673ba;
  --color-primarioMMM-300: #1367b0;
  --color-primarioMMM-400: #135ba7;
  --color-primarioMMM-500: #144f9f;
  --color-primarioMMM-600: #184687;
  --color-primarioMMM-700: #1a3c71;
  --color-primarioMMM-800: #1a335c;
  --color-primarioMMM-900: #192b49;
  
  /*SecundarioMMM 41 EDICION - MAGENTA*/
  --color-secundarioMMM-50:  #e75499;
  --color-secundarioMMM-100: #e54c8d;
  --color-secundarioMMM-200: #e34481;
  --color-secundarioMMM-300: #e03c76;
  --color-secundarioMMM-400: #de356b;
  --color-secundarioMMM-500: #dc2e60;
  --color-secundarioMMM-600: #bc2651;
  --color-secundarioMMM-700: #9f1f43;
  --color-secundarioMMM-800: #831835;
  --color-secundarioMMM-900: #681128;

 /*TerciarioMMM 41 EDICION - Amarillo*/
  --color-terciarioMMM-50:  #efe752;
  --color-terciarioMMM-100: #eee64a;
  --color-terciarioMMM-200: #ede542;
  --color-terciarioMMM-300: #ede439;
  --color-terciarioMMM-400: #ece42f;
  --color-terciarioMMM-500: #ebe325;
  --color-terciarioMMM-600: #c0b825;
  --color-terciarioMMM-700: #999223;
  --color-terciarioMMM-800: #777120;
  --color-terciarioMMM-900: #59541b;

  --color-blancoMMM: #f2f2fa;
  --color-negroMMM: #0e0e1e;

  /* Fuentes personalizadas */
  --font-sans: 'DMSans-Variable', system-ui, sans-serif;
  --font-italic: 'DMSans Italic-Variable', system-ui, sans-serif;
  --font-heading: 'ClashDisplay-Variable', system-ui, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2fa;
}

