@import "tailwindcss";
@import "./helvetica.css";

@font-face {
  font-family: 'DMSans-Variable';
  src: url('/fonts/DMSans-Variable.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans Italic-Variable';
  src: url('/fonts/DMSans-Italic-Variable.woff2') format('woff2');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

/* Morganite Font */


@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-Thin.woff2') format('woff2');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-ThinItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-ExtraLight.woff2') format('woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-ExtraLightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}


@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-LightItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-Book.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-BookItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-MediumItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-SemiBoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-ExtraBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-ExtraBoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-Black.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face{
  font-family: 'Morganite';
  src: url('/fonts/morganite/Morganite-BlackItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}





@theme {
/* Colores */

/* ==========================================================
   PRIMARIO MMM 42ª EDICIÓN
   AZUL MEDITERRÁNEO
   Base: #55c4f2
========================================================== */

--color-primarioMMM-50:  #f1fbff;
--color-primarioMMM-100: #dff6fe;
--color-primarioMMM-200: #bcecfb;
--color-primarioMMM-300: #8bdef8;
--color-primarioMMM-400: #67cff5;
--color-primarioMMM-500: #55c4f2;
--color-primarioMMM-600: #34afe9;
--color-primarioMMM-700: #1b95d0;
--color-primarioMMM-800: #0d73a8;
--color-primarioMMM-900: #085a85;


/* ==========================================================
   SECUNDARIO MMM 42ª EDICIÓN
   AMARILLO CAMPEONATO
   Base: #ffff32
========================================================== */

--color-secundarioMMM-50:  #fffff1;
--color-secundarioMMM-100: #ffffd4;
--color-secundarioMMM-200: #ffff9c;
--color-secundarioMMM-300: #ffff69;
--color-secundarioMMM-400: #ffff49;
--color-secundarioMMM-500: #ffff32;
--color-secundarioMMM-600: #e7e71d;
--color-secundarioMMM-700: #c4c40d;
--color-secundarioMMM-800: #969600;
--color-secundarioMMM-900: #666600;


/* ==========================================================
   TERCIARIO MMM 42ª EDICIÓN
   AZUL PROFUNDO
   Base: #004f81
========================================================== */

--color-terciarioMMM-50:  #eef6ff;
--color-terciarioMMM-100: #d9eaff;
--color-terciarioMMM-200: #b9d8ff;
--color-terciarioMMM-300: #87bcff;
--color-terciarioMMM-400: #4d97f2;
--color-terciarioMMM-500: #2679dc;
--color-terciarioMMM-600: #0d67c9;
--color-terciarioMMM-700: #005dbd;
--color-terciarioMMM-800: #0055af; 
--color-terciarioMMM-900: #003f82;

--color-blancoMMM: #f8fbfd;
--color-negroMMM: #08141d;

  /* Fuentes personalizadas previa configuración */
  --font-sans: 'DMSans-Variable', system-ui, sans-serif;
  --font-italica: 'DMSans Italic-Variable', system-ui, sans-serif;
  --font-heading: 'ClashDisplay-Variable', system-ui, sans-serif;
  --font-morganite: 'Morganite', system-ui, sans-serif;

  /* Familia Helvetica con sus variantes exactas */
  --font-helvetica: "Helvetica Neue LT Std", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-helvetica-cn: "Helvetica Neue LT Std Cn", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-helvetica-ex: "Helvetica Neue LT Std Ex", -apple-system, BlinkMacSystemFont, sans-serif;
  --font-helvetica-outline: "Helvetica Neue LT Std Outline", sans-serif;

}

:where(.font-morganite) {
  line-height: 0.85;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2fa;
}



