@import "tailwindcss";

@font-face {
  font-family: 'DMSans-Variable';
  src: url('./fonts/DMSans - Variable.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans Italic-Variable';
  src: url('./fonts/DMSans Italic - Variable.woff2') format('woff2');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@theme {
/* Colores */

    /* PrimarioMMM 41 EDICION - AZUL  */
  --color-primarioMMM-50:  #5373b7;
  --color-primarioMMM-100: #4f6ab1;
  --color-primarioMMM-200: #4260aa;
  --color-primarioMMM-300: #3755a2;
  --color-primarioMMM-400: #3d54a1;
  --color-primarioMMM-500: #40519f;
  --color-primarioMMM-600: #3a488e;
  --color-primarioMMM-700: #36417b;
  --color-primarioMMM-800: #343c67;
  --color-primarioMMM-900: #2e3556;
  
  /*SecundarioMMM 41 EDICION - MAGENTA*/
  --color-secundarioMMM-50:  #d95995;
  --color-secundarioMMM-100: #d9558a;
  --color-secundarioMMM-200: #d65081;
  --color-secundarioMMM-300: #d34b75;
  --color-secundarioMMM-400: #d2456b;
  --color-secundarioMMM-500: #d13f61;
  --color-secundarioMMM-600: #b93854;
  --color-secundarioMMM-700: #a23149;
  --color-secundarioMMM-800: #8c293e;
  --color-secundarioMMM-900: #742232;

 /*TerciarioMMM 41 EDICION - Amarillo*/
  --color-terciarioMMM-50:  #fcef79;
  --color-terciarioMMM-100: #f6eb6b;
  --color-terciarioMMM-200: #f0e75b;
  --color-terciarioMMM-300: #e9e44b;
  --color-terciarioMMM-400: #e3e039;
  --color-terciarioMMM-500: #d0cc38;
  --color-terciarioMMM-600: #beba37;
  --color-terciarioMMM-700: #ada835;
  --color-terciarioMMM-800: #9d9733;
  --color-terciarioMMM-900: #8e8731;

  --color-blancoMMM: #f2f2fa;
  --color-negroMMM: #0e0e1e;

  /* Fuentes personalizadas */
  --font-sans: 'DMSans-Variable', system-ui, sans-serif;
  --font-italica: 'DMSans Italic-Variable', system-ui, sans-serif;
  --font-heading: 'ClashDisplay-Variable', system-ui, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2fa;
}

