---
import Layout from '../layouts/LayoutMaster.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Contacto | Media Maratón Ciudad de Motril">

  <main>
    <Header />
    <h2 class="text-primarioMMM">Contacto</h2>
  </main>

  <Footer />
</Layout>
