---
import Layout from '../layouts/LayoutMaster.astro';
import "../styles/global.css";
import Header from '../components/Header.astro';
---

<Layout title="Inicio | Media Maratón Ciudad de Motril">

  <main>
    <Header />
    <!-- Hero de entrada -->
    <section class="bg-hero-bg bg-cover bg-center h-screen flex items-center justify-center text-primarioMMM">
      <h1 class="flex justify-center font-black font-heading text-8xl text-center">41 MEDIA MARATÓN CIUDAD DE MOTRIL</h1>
    </section>
    <section class="bg-blue-600 text-white text-center p-4 rounded-lg shadow-lg ">
          Tailwind funciona correctamente 🚀
    </section>
    <section class="bg-primarioMMM text-white p-4 text-center">
  <h2 class="text-2xl font-bold">¡Funciona primarioMMM!</h2>
</section>
  </main>

  <footer>
    <p>&copy; 2025 Media Maratón Ciudad de Motril</p>
  </footer>
</Layout>
