---
import Layout from '../layouts/LayoutMaster.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ButtonPrimary from '../components/ButtonPrimary.astro';
import Conteo from '../components/CuentaRegresiva.astro';
---

<Layout title="Inicio | Media Maratón Ciudad de Motril">

  <main >
    <Header />
    <!-- Hero de entrada -->
    <section class="flex flex-col items-center justify-center text-primarioMMM w-full p-12 md:p-10">
      <h1 class="flex justify-center font-black font-heading text-center text-6xl md:text-9xl ">41º MEDIA MARATÓN CIUDAD DE MOTRIL</h1>
      <h2 class="m-4 text-2xl md:text-4xl text-center font-black text-black ">19 DE OCTUBRE DE 2025</h2>

      <ButtonPrimary href="/inscripciones" class = " text-2xl font-bold">INSCRÍBETE</ButtonPrimary>

      <Conteo fecha="2025-10-19T10:30:00" />

    </section>
  </main>

  <Footer />
</Layout>
