---
import BaseLayout from '../layouts/IndexLy.astro';
import "../styles/global.css";
---

<BaseLayout title="Inicio | Media Marat贸n Ciudad de Motril">
  <header>
    <h1>Media Marat贸n Ciudad de Motril</h1>
    <nav>
      <ul>
        <li><a href="#inscripciones">INSCRIPCIONES</a></li>
        <li><a href="#prueba">PRUEBA</a></li>
        <li><a href="#multimedia">MULTIMEDIA</a></li>
        <li><a href="#contacto">CONTACTO</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section>
      <h2>Bienvenido</h2>
      <p>La Media Marat贸n m谩s emblem谩tica de la Costa Tropical te espera.</p>
    </section>
    <section class="bg-blue-600 text-white text-center p-4 rounded-lg shadow-lg ">
          Tailwind funciona correctamente 
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Media Marat贸n Ciudad de Motril</p>
  </footer>
</BaseLayout>
