---
// Esto es una página estática simple
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Página de Inicio</title>
  </head>
  <body>
    <h1>¡Bienvenido a mi proyecto Astro!</h1>
    <p>Esta es mi primera página.</p>
  </body>
</html>
