---
import Layout from '../layouts/LayoutMaster.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LogoSlider from '../components/LogoSlider.astro';
---

<Layout title="Normativa | Media Maratón Ciudad de Motril">

 <main>
    <h1 
      class="
        text-primarioMMM-500 
        font-heading text-4xl md:text-6xl font-extrabold
        text-center
        pt-20 md:pt-25
        "
      >
        NORMATIVA
      </h1>

      <section
        id="normativa-section"
        class="p-8"
      >
        <details 
          class="
            mb-4 
            bg-white
            rounded shadow
            hover:scale-102 transition-transform duration-300 ease-in-out"
        >
          <summary
            class="
              cursor-pointer
              px-8 py-4
              text-primarioMMM-500
              text-sm md:text-lg font-bold
              "
          >
            CONSIDERACIONES GENERALES
          </summary>
          <div class="px-8 py-4 text-primarioMMM-500 text-md md:text-md">
            El Área de Deportes del Excmo. Ayuntamiento de Motril, en colaboración con la Delegación de Deportes de la Diputación de Granada, organiza la 41º edición de la Media Maratón Ciudad de Motril que se celebrará el 19 de octubre de 2025 a las 10:00 h.<br>
            - Las distancias a recorrer serán las de 21,097 km por un circuito homologado por la RFEA y 10 Km.<br>
            - Podrá participar cualquier persona, federada o no, siempre que tenga cumplidos los 18 años de edad.<br>
            - La prueba está incluida en el calendario oficial de la Federación Andaluza de Atletismo y controlada por Jueces Federativos.<br>
            Atendiendo a lo que recoge el Artículo 10 del Reglamento de la Federación Andaluza de Atletismo, como normal general, los atletas federados obligatoriamente competirán bajo el nombre de su club, además de con la equipación del mismo.<br>
            En esta competición no podrán participar ni atletas españoles ni atletas extranjeros que hayan realizado (durante la presente temporada o las 2 anteriores) una marca con un valor igual o superior a 950 puntos de la Tabla World Athletics vigente.<br>
            Esta prohibición no afecta a los atletas con licencia por la Federación Andaluza de Atletismo.<br>
            <strong>*En caso de que un atleta participe incumpliendo alguna de estas normas por desconocimiento del organizador o de la propia Federación Andaluza de Atletismo, podrá ser descalificado/a en cualquier momento. </strong>
          </div>
        </details>
        <details 
          class="
            mb-4 
            bg-white
            rounded shadow
            hover:scale-102 transition-transform duration-300 ease-in-out"
        >
          <summary
            class="
              cursor-pointer
              px-8 py-4
              text-primarioMMM-500
              text-sm md:text-lg font-bold
              "
          >
            1. INSCRIPCIONES
          </summary>
            <div>
              <details>
                <summary
                  class="
                  cursor-pointer
                  pl-10 mb-2 pr-4
                text-primarioMMM-500
                  text-sm md:text-lg font-bold
                  "
                >
                  1.1 NUEVAS INSCRIPCIONES
                </summary>
                  <p class="pl-10 pr-4 pb-4 text-primarioMMM-500 text-md md:text-md">
                    - Las inscripciones se realizarán en la web <a href="/inscripciones" target="_blank" class="italic font-bold underline">www.mediamaraton.motril.es</a> desde el 21 de julio al 12 de octubre de 2024. <br>
                    - Las cuotas de inscripción que se establecen en 10 €, tanto para la prueba de 21k como para la de 10k. <br>
                    - El importe de la inscripción no será retornable ni se podrá transferir el dorsal a otro corredor/a. 
                  </p>
              </details>
              <details>
                <summary
                  class="
                  cursor-pointer
                  pl-10 mb-2 pr-4
                text-primarioMMM-500
                  text-sm md:text-lg font-bold
                  "
                >
                   1.2 INSCRIPCIONES ATLETAS DEL GRAN PREMIO DE FONDO DIPUTACIÓN UNIVERSO LORCA
                </summary>
                  <p class="pl-10 pr-4 pb-4 text-primarioMMM-500 text-md md:text-md">
                    - Los corredores/as inscritos/as en todo el circuito del Gran Premio de Fondo Diputación Universo Lorca, solo tendrán que confirmar la asistencia a la prueba,
                      hasta el 12 de octubre a las 24 horas, en la página Web del Circuito <a href="https://www.gpfgranada.es" target="_blank" class="italic font-bold underline">www.gpfgranada.es</a> y asistir con su dorsal y chip asignados para todo el circuito. <br>
                    - Todo aquel inscrito en el Circuito que no confirme la asistencia a la prueba, no puntuará en el mismo. <br>
                    - En caso de incidencia contactar a través del correo electrónico: <a href="mailto:info@cruzandolameta.es" class="underline">info@cruzandolameta.es</a>
                  </p>
              </details>
              <details>
                <summary
                  class="
                  cursor-pointer
                  pl-10 mb-2 pr-4
                text-primarioMMM-500
                  text-sm md:text-lg font-bold
                  "
                >
                   1.3 PARTICIPACIÓN FUERA DE PLAZO: CAMPAÑA CORRO POR LA VIDA
                </summary>
                  <p class="pl-10 pr-4 pb-8 text-primarioMMM-500 text-md md:text-md">
                    - Los/as atletas que no hayan formalizado su inscripción en los plazos establecidos
                    podrán participar en la prueba, comunicándolo hasta media hora antes de la misma,
                    adquiriendo el dorsal solidario, por el que deberán de abonar la cantidad de 10 € y en
                    ningún caso se podrá inscribir como atleta local. <br>
                    - El/la atleta inscrito/a en esta modalidad correrá con un dorsal de la Asociación contra
                    el Cáncer, no llevará chip, y asumirá el hecho de no optar a ningún premio, ni trofeo,
                    aunque sí tendrá derecho al resto de servicios. Al no ser cronometrado no aparecerá en
                    las clasificaciones de las mismas. <br>
                    - Este pago será íntegramente destinado a la Asociación Española contra el Cáncer. <br>
                    - Asimismo se establece un dorsal cero en la prueba, para todas aquellas personas que
                    sin participar, quieran colaborar con la asociación, con una aportación voluntaria,
                    entregando dicha aportación a la organización local para su ingreso.
                    <br>
                    * Asociación española contra el Cáncer, Junta provincial de Granada: Información:
                    <a href="tel:958293929" class="underline">958293929</a> <a href="mailto:granada@aecc.es" class="underline">granada@aecc.es</a> <a href="https://www.contraelcancer.es/es" class="italic font-bold underline"> www.contraelcancer.es</a>
                  </p>
              </details>
            </div>
        </details>
        <details 
          class="
            mb-4
            bg-white
            rounded shadow
            hover:scale-102 transition-transform duration-300 ease-in-out"
        >
          <summary
            class="
              cursor-pointer
              px-8 py-4
              text-primarioMMM-500
              text-sm md:text-lg font-bold
              "
          >
            2. CATEGORÍAS
          </summary>
          <div
            class="
              px-8
              text-primarioMMM-500
              text-md
              "
          >
            <p class=" text-primarioMMM-500 text-md">
              <strong class="italic font-black">ABSOLUTA:</strong> 18 años en adelante sin distinción de categorías. <br>
              <strong class="italic font-black">Sub 20:</strong> 18 Y 19 años <br>
              <strong class="italic font-black">Sub 23:</strong> 20, 21 y 22 años. <br>
              <strong class="italic font-black">SENIOR:</strong> 23-34 años. <br>
              <strong class="italic font-black">MASTER 35:</strong> de 35 a 39 años. <br>
              <strong class="italic font-black">MASTER 40:</strong> de 40 a 44 años. <br>
              <strong class="italic font-black">MASTER 45:</strong> de 45 a 49 años. <br>
              <strong class="italic font-black">MASTER 50:</strong> de 50 a 54 años. <br>
              <strong class="italic font-black">MASTER 55:</strong> de 55 a 59 años. <br>
              <strong class="italic font-black">MASTER 60:</strong> de 60 a 64 años. <br>
              <strong class="italic font-black">MASTER 65:</strong> de 65 A 69 años. <br>
              <strong class="italic font-black">SUPERMASTER:</strong> de 70 años en adelante. <br>
              <strong class="italic font-black">DICAPACITADOS/AS:</strong> de 18 años en adelante. <br>
            </p>
          </div>
          <section
            id="info-categorias"
            class="
              m-4 pb-4
            "
          >
            <div
              id="discapacidad"
              class="
              rounded-lg
              border-2 border-primarioMMM-500/20
              bg-primarioMMM-50/20
              text-primarioMMM-500
              text-md md:text-md
              "
            >
              <p class="m-4">*Los corredores Discapacitados/as podrán inscribirse acreditando su discapacidad (mínimo del
              33% inclusive), para ello deberán remitir el certificado de discapacidad al correo electrónico
              <a href="mailto:deportes@motril.es" class="underline">deportes@motril.es</a> y esperar a la resolución del comité de competición.</p>
            </div>
            <p class="m-4 font-bold text-primarioMMM-500 text-md md:text-md">
              *EDAD MÍNIMA DE LA PRUEBA: 18 AÑOS
            </p>
            <p class="m-4 font-bold text-primarioMMM-500 text-md md:text-md">
              *TODAS LAS EDADES INDICADAS HAN DE ESTAR CUMPLIDAS EL DÍA DE LA PRUEBA.
            </p>
          </section>
        </details>
        <details 
          class="
            mb-4 
            bg-white
            rounded shadow
            hover:scale-102 transition-transform duration-300 ease-in-out"
        >
          <summary
            class="
              cursor-pointer
              px-8 py-4
              text-primarioMMM-500
              text-sm md:text-lg font-bold
              "
          >
            3. RECOGIDA DE DORSAL
          </summary>
          <div class="px-8 pb-4 text-primarioMMM-500 text-md">
            <p>
              Todas las personas inscritas recibirán su Bolsa del Corredor con su dorsal/chip, y
              documentación de la carrera. Podrán recogerlas en los siguientes puntos, días y
              horarios: <br>
              <ul class="list-disc pl-4 md:pl-8">
                <li><strong> Pabellón Municipal de Deportes</strong> (C/Aguas del Hospital s/n): El sábado 18 de
                octubre de 10:00 a 14:00 y de 17:00 a 21:00h.</li>
                <li><strong>Salón Social del recinto portuario:</strong> El Domingo 19 de octubre de 8:00 a 9:30h.</li>
              </ul>
              Para la retirada de la bolsa del corredor es obligatoria la presentación del DNI, carné
              de conducir o licencia federativa. <br>
              Se podrá retirar el dorsal de otro atleta siempre presentando DNI, carné de conducir
              o licencia federativa (o fotocopia compulsada) o justificante de la inscripción, sin
              esto no se entregará ningún dorsal
            </p>
          </div>
        </details>
        <details 
          class="
            mb-4 
            bg-white
            rounded shadow
            hover:scale-102 transition-transform duration-300 ease-in-out"
        >
          <summary
            class="
              cursor-pointer
              px-8 py-4
              text-primarioMMM-500
              text-sm md:text-lg font-bold
              "
          >
            4. SALIDA Y CONTROL DE LOS TIEMPOS
          </summary>
          <div class="px-8 pb-4 text-primarioMMM-500 text-md">
            <p>
              Se realizará una salida única, a las 10:00h en la Avda. Dr. Norman Bethune. <br>
              Se establecen los siguientes tiempos de corte para la prueba de 21K: <br>
              <ol class=" pl-8 ">
                <li >1. <span class="pl-2"></span> Km 8, tiempo de corte 57 minutos.</li>
                <li >2. <span class="pl-2"></span> Km 16, tiempo de corte 1h y 54 minutos.</li>
                <li >3. <span class="pl-2"></span> Cierre general de carrera 2h y 30 minutos.</li>
              </ol>
              Para la prueba de 10k se establece los siguientes tiempos de corte <br>
              <ol class=" pl-8 ">
                <li >1. <span class="pl-2"></span> Km 5, tiempo de corte 40 minutos.</li>
                <li >2. <span class="pl-2"></span> Cierre general de la carrera 1h y 20 minutos.</li>
              </ol>
              <strong>*Todo atleta que sobrepase estos tiempos quedará fuera de carrera, debiendo retirarse el dorsal y
              abandonar la calzada.</strong>
              La organización contará con un sistema de control de tiempos por chip, que
              garantiza su fiabilidad desde que cada corredor cruza la línea de salida hasta que
              pisa la de meta. Habrá además puntos de cronometraje y control de paso
              intermedios.
            </p>
          </div>
        </details>
        <details 
          class="
            mb-4 
            bg-white
            rounded shadow
            hover:scale-102 transition-transform duration-300 ease-in-out"
        >
          <summary
            class="
              cursor-pointer
              px-8 py-4
              text-primarioMMM-500
              text-sm md:text-lg font-bold
              "
          >
            5. PREMIOS
          </summary>
            <details>
              <summary
                class="
                  cursor-pointer
                  pl-10 mb-2 pr-4
                  text-primarioMMM-500
                  text-sm md:text-lg font-bold
                  "
              >
                5.1 PREMIOS GENERALES
              </summary>
              <p class="pl-10 pr-4 pb-4 text-primarioMMM-500 text-md md:text-md">
                Los premios económicos son únicos y exclusivos para los tres primeros en la clasificación absoluta tanto para hombres como para mujeres: <br>
                1.- 500 € <br>
                2.- 300 € <br>
                3.- 200 € <br>
                Los tres primeros clasificados por cada categoría obtendrán trofeo. <br>
                *Para poder optar a estos premios los atletas deberán cumplir con las condiciones establecidas en las consideraciones generales de la normativa.
              </p>
            </details>
            <details>
              <summary
                class="
                  cursor-pointer
                  pl-10 mb-2 pr-4
                  text-primarioMMM-500
                  text-sm md:text-lg font-bold
                  "
              >
                5.2 PREMIOS ATLETAS DEL GRAN PREMIO DE FONDO DIPUTACIÓN UNIVERSO LORCA
              </summary>
              <p class="pl-10 pr-4 pb-8 text-primarioMMM-500 text-md md:text-md">
                Todos los/las inscritos/as en el Circuito GPF 2025, que hayan confirmado su participación en la prueba a través de la
                página <a href="https://www.gpfgranada.es" target="_blank" class="italic font-bold underline">www.gpfgranada.es</a> en
                tiempo y plazo estipulados, optarán a alguno de estos sorteos. El resultado del sorteo podrá ser consultado el viernes
                anterior a cada prueba en la página Web anteriormente citada y serán entregados al finalizar la carrera. Los vales son
                por un importe aproximado de 50 € y las empresas colaboradoras son las siguientes: Intersport Moto Deporte, Aventura
                entre pinos, Mercagranada, Deporte Base Liverpool, Sabor Granada y Gimnasio Open Fit. <br>
                Nota: Para poder optar a dichos vales, es OBLIGATORIO que el/la Atleta premiado/a esté presente en el acto, en caso contrario no tendrá derecho al mismo, salvo causa de fuerza mayor, comunicada por antelación y por escrito.
              </p>
            </details>
        </details>
        <details 
          class="
            mb-4 
            bg-white
            rounded shadow
            hover:scale-102 transition-transform duration-300 ease-in-out"
        >
          <summary
            class="
              cursor-pointer
              px-8 py-4
              text-primarioMMM-500
              text-sm md:text-lg font-bold
              "
          >
            6. NORMATIVA TÉCNICA
          </summary>
          <div class="px-8 pb-4 text-primarioMMM-500 text-md">
            <p>
              La organización no se hace responsable de los daños que pudieran causar o causarse los/as atletas participantes por imprudencias o negligencias de estos. Igualmente, el atleta declara estar en condiciones físicas óptimas para realizar esta prueba y lo hace bajo su entera responsabilidad, eximiendo de toda a la organización de la prueba. El inscribirse en esta prueba supone la aceptación plena de estas normas.
            </p>
            <p class="font-bold">Será motivo de descalificación:</p>
            <ul class="list-disc pl-8">
              <li>Llevar el dorsal no visible o colocado en la parte posterior del cuerpo.</li>
              <li>Conducta antideportiva.</li>
              <li>No finalizar el recorrido, o no realizarlo por el circuito habilitado. Correr fuera del mismo (aceras…) es no completar el circuito homologado.</li>
              <li>No atender al reglamento, ni las indicaciones de los organizadores, jueces o voluntarios.</li>
              <li>Correr con el dorsal o chip de otro/a atleta, o duplicidad.</li>
              <li>Correr sin chip (con la excepción de los participantes no inscritos/as).</li>
            </ul>
            <p class="font-bold">Por motivos de seguridad en la carrera y para el buen desarrollo de la misma, así como debido a la legislación vigente sobre publicidad de bebidas alcohólicas y protección del menor, será también motivo de descalificación:</p>
            <ul class="list-disc pl-8">
              <li>Correr o entrar a meta con menores.</li>
            </ul>
            <p>
              Cualquier reclamación en la prueba deberá formularse por escrito al Juez Árbitro de la carrera media hora después de haber
              terminado la prueba, exponiendo de forma clara y concisa el motivo de la reclamación, con la oportuna identificación y la firma
              del interesado. <br>
              Los únicos vehículos que podrán seguir la prueba son los señalizados como oficiales por la organización. <br>
              La organización dispone de un Plan de Autoprotección, Seguridad y Salud, que vela por la seguridad de atletas y público en general.
            </p>
            <p>
              La prueba será controlada por el Colegio de Jueces de la Federación Andaluza de Atletismo (Delegación de Granada), transcurriendo en un circuito homologado de Media Maratón (21,097).
            </p>
          </div>
        </details>
        <details 
          class="
            mb-4 
            bg-white
            rounded shadow
            hover:scale-102 transition-transform duration-300 ease-in-out"
        >
          <summary
            class="
              cursor-pointer
              px-8 py-4
              text-primarioMMM-500
              text-sm md:text-lg font-bold
              "
          >
            7. LEY DE PROTECCIÓN DE DATOS
          </summary>
          <div class="px-8 pb-4 text-primarioMMM-500 text-md">
            <p>
              En cumplimiento del Reglamento General de Protección de Datos de Carácter Personal (UE 2016/679), le informo que los datos facilitados por usted en su solicitud serán tratados por el Ayuntamiento con la finalidad de gestionar su inscripción en la Media Maratón Ciudad de Motril. Podrá ejercer sus derechos en el Ayuntamiento de Motril.  
            </p>
          </div>
        </details>
        <p class="text-primarioMMM-500 text-md md:text-md pb-8">
          Puedes descargar la normativa completa en formato PDF haciendo clic
          <a href="/files/Normativa 41 Edicion Media Maratón ciudad de Motril (2025).pdf" download="Normativa 41 Edicion Media Maratón ciudad de Motril (2025).pdf" class="font-bold underline italic">aquí</a>
        </p> 
      </section>
      <LogoSlider />
  </main>
</Layout>
