---
import Layout from '../layouts/LayoutMaster.astro';
---

<Layout title="Servicios al corredor | Media Maratón Ciudad de Motril">

  <main class="pt-30">
    <h2 class="text-primarioMMM-500 font-heading font-medium text-4xl">VOLUNTARIOS</h2>
  </main>

</Layout>
