---
import Layout from "../layouts/LayoutMaster.astro";
---

<Layout title="Voluntariado | Media Maratón Ciudad de Motril">
  <main>
     <h1
      class="text-primarioMMM-500
        font-heading text-4xl md:text-6xl font-extrabold
        text-center
        pt-20 md:pt-25"
    >
      VOLUNTARIOS
    </h1>
    <section class="">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScu2Gh8zqdU0u5o6f50jwTEffkfDq8lq2dpy9Ylnvg5o5BAGQ/viewform?embedded=true" width="100%" height="1900" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
    </section>
  </main>
</Layout>
