---
import Layout from '../layouts/LayoutMaster.astro';
---

<Layout title="Servicios al corredor | Media Maratón Ciudad de Motril">

  <main>
    <h1 
      class="
        text-primarioMMM-500 
        font-heading text-4xl md:text-6xl font-extrabold
        text-center
        pt-20 md:pt-25
        "
      >
        VOLUNTARIOS
      </h1>

      <section
        id="circuito-21k
      ">
         
      </section>
  </main>

</Layout>
