---
import Layout from "../layouts/LayoutMaster.astro";
---

<Layout title="Voluntariado | Media Maratón Ciudad de Motril">
  <main class="">
     <h1
      class="text-primarioMMM-500
        font-heading text-4xl md:text-6xl font-extrabold
        text-center
        pt-20 md:pt-25"
    >
      VOLUNTARIOS
    </h1>
    <section class="h-100 flex flex-col justify-center items-center my-20">
        <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScu2Gh8zqdU0u5o6f50jwTEffkfDq8lq2dpy9Ylnvg5o5BAGQ/viewform?embedded=true" width="100%" height="1900" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe> -->
          <div class="w-1/2 flex flex-col gap-8">
            <p class="text-primarioMMM-500 font-medium  text-xl sm:text-4xl text-center">Hemos completado del cupo de voluntarios para la 41 Media Maratón Ciudad de Motril</p>
            <p class="text-primarioMMM-500 font-black text-4xl sm:text-6xl text-center">!GRACIAS A TODOS!</p>
          </div>
        
      </section>
  </main>
</Layout>
