---
const { fecha } = Astro.props;
import Boton from '../components/Botones.astro';
---

<div
  id="cuenta-regresiva"
  class="flex flex-col gap-4 font-semibold text-4xl mt-5 text-center"
  data-fecha={fecha}
>
        <Boton 
        color="primary"
        version="positivo"
        href="/inscripciones"
        class="text-3xl md:text-2xl font-bold"
      >
        INSCRÍBETE
      </Boton>
  <p
    class="
      text-center
      text-xl md:text-2xl
      font-bold text-negroMMM">
      FALTAN:
  </p>
  <div class="flex gap-4">
    <div class="flex flex-col items-center text-negroMMM font-heading ">
      <span id="dias">00</span>
      <span class="text-xl">DÍAS</span>
    </div>
    <div class="flex flex-col items-center text-negroMMM font-heading">
      <span id="horas">00</span>
      <span class="text-xl ">H</span>
    </div>
    <div class="flex flex-col items-center text-negroMMM font-heading">
      <span id="minutos">00</span>
      <span class="text-xl ">M</span>
    </div>
    <div class="flex flex-col items-center text-negroMMM font-heading">
      <span id="segundos">00</span>
      <span class="text-xl">S</span>
    </div>
  </div>
</div>

<script>
  // @ts-nocheck
  const el = document.getElementById('cuenta-regresiva');
  const fechaObjetivo = new Date(el.dataset.fecha);
  function actualizarCuentaRegresiva() {
    const ahora = new Date();
    const diferencia = fechaObjetivo - ahora;
    if (diferencia <= 0) {
      el.innerHTML = '¡HA LLEGADO EL MOMENTO!';
      clearInterval(intervalo);
      return;
    }
    const dias = Math.floor(diferencia / (1000 * 60 * 60 * 24));
    const horas = Math.floor((diferencia % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutos = Math.floor((diferencia % (1000 * 60 * 60)) / (1000 * 60));
    const segundos = Math.floor((diferencia % (1000 * 60)) / 1000);

    el.querySelector('#dias').textContent = dias.toString().padStart(2, '0');
    el.querySelector('#horas').textContent = horas.toString().padStart(2, '0');
    el.querySelector('#minutos').textContent = minutos.toString().padStart(2, '0');
    el.querySelector('#segundos').textContent = segundos.toString().padStart(2, '0');
  }
  actualizarCuentaRegresiva();
  const intervalo = setInterval(actualizarCuentaRegresiva, 1000);
</script>