---
import Boton from './Botones.astro';
---
<footer
  class="
    bg-cover
    bg-[url('/images/components/Footers.webp')]
    w-full
    flex flex-col
  "
>
  <div
    id="footer-top"
    class="
      text-blancoMMM
      m-5
      flex flex-col md:flex-row
      md:justify-evenly
      gap-x-15
      items-center
      
    "
  >
    <a href="/">
      <img
        src="/svg/marca/MMM - White.svg"
        alt="Logo Media Maratón Ciudad de Motril"
        class="h-[80px] mb-4 md:mb-0"
      />
    </a>

    <section
      id="links-footer"
      class="
        hidden md:flex flex-row
        gap-x-5
      "
    >
      <div class="link-section-1 flex flex-col mb-4 md:mb-0">
        <a
          href="/"
          class="inline hover:text-primarioMMM-200 cursor-pointer"
        >
          Inicio
        </a>
        <a
          href="/inscripciones"
          class="inline hover:opacity-80 cursor-pointer"
        >
          Inscripciones
        </a>
        <a
          href="/recorrido"
          class="inline hover:opacity-80 cursor-pointer"
        >
          Recorrido
        </a>
        <a
          href="/servicios"
          class="inline hover:opacity-80 cursor-pointer"
        >
          Servicios al corredor
        </a>
      </div>
      <div class="link-section-2 flex flex-col">
        <a
          href="/normativa"
          class="inline hover:opacity-80 cursor-pointer"
        >
          Normativa
        </a>
        <a
          href="/campeones"
          class="inline hover:opacity-80 cursor-pointer"
        >
          Ruta de los campeones
        </a>
        <a
          href="/voluntarios"
          class="inline hover:opacity-80 cursor-pointer"
        >
          Voluntarios
        </a>
        <a
          href="/contacto"
          class="inline hover:opacity-80 cursor-pointer"
        >
          Contacto
        </a>
      </div>
    </section>

    <section
      id="inscripciones-footer"
      class="
        m-2
        flex flex-col items-center
      "
    >
      <p class="text-center">La cuenta atrás ya ha comenzado.</p>
      <p class="text-xl font-bold">
        NO LO DEJES PASAR
      </p>
      <Boton
        color="primary"
        version="negativo"
        href="/inscripciones"
        class="mt-4 w-auto"
      >
        INSCRÍBETE
      </Boton>
    </section>
  </div>

  <hr class="w-full border-t border-blancoMMM/60 mx-auto" />

  <section
    id="footer-bottom"
    class="
      flex flex-col md:flex-row
      justify-center items-center
      m-5
      gap-y-4 md:gap-x-4
      text-center
    "
  >
    <div class="text-blancoMMM text-xs">
      <p>Área de Deportes, Ayuntemiento de Motril</p>
      <p>
        © <span id="year"></span> Todos los derechos reservados
      </p>
    </div>
    <script is:inline>
      document.getElementById('year').textContent = new Date().getFullYear();
    </script>
    <div class="social-links flex flex-row justify-center md:justify-end items-center gap-x-4">
      <a
        href="https://www.facebook.com/MediaMaratonMotril"
        target="_blank"
        class="inline-block"
      >
        <img
          src="/svg/rrss/fb-round.svg"
          alt="Facebook"
          class="h-7 hover:scale-125 transition-transform"
        />
      </a>
      <a
        href="https://www.instagram.com/motrilmedia/"
        target="_blank"
        class="inline-block"
      >
        <img
          src="/svg/rrss/ig-round.svg"
          alt="Instagram"
          class="h-7 hover:scale-125 transition-transform"
        />
      </a>
    </div>
  </section>