---
import logo from '../assets/MMM - Blue.svg';
---

<header class="flex justify-center ">
  <nav class="flex items-center w-full p-5">
    <ul class="w-full flex items-center justify-evenly ">
        <li class=""><a href="/prueba" class="font-black text-primarioMMM hover:text-gray-400">PRUEBA</a></li>
        <li class=""><a href="/inscripciones" class="font-black text-primarioMMM hover:text-gray-400">INSCRIPCIONES</a></li>
        <li class=""><a href= index.astro class="font-black text-primarioMMM hover:text-gray-400"><img src={logo.src} alt="Media Maratón Ciudad de Motril" class="h-14 w-min-16px"></a></li>
        <li class=""><a href="/multimedia" class="font-black text-primarioMMM hover:text-gray-400">MULTIMEDIA</a></li>
        <li class=""><a href="/contacto" class="font-black text-primarioMMM hover:text-gray-400">CONTACTO</a></li>
    </ul>
</nav>

</header>
