---
---
<div class="overflow-hidden w-full bg-gray-300">
  <div class="logo-slider flex items-center gap-12 md:gap-18 animate-scroll p-4">
    <a href="https://motril.es/deportes/">
      <img src="/svg/patrocinadores/area_deportes_color.svg" alt="Área de Deportes, Ayuntamiento de Motril" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://www.dipgra.es/servicios/areas/deportes/">
      <img src="/svg/patrocinadores/diputacionGranada_horizontal_color.svg" alt="Diputación de Granada" class="grayscale hover:grayscale-0 h-10 md:h-10" />
    </a>
    <a href="https://www.apmotril.com/">
      <img src="/svg/patrocinadores/autoridad_portuaria_color.svg" alt="Autoridad Portuaria de Motril" class="grayscale hover:grayscale-0 h-16 md:h-14" />
    </a>
    <a href="https://granadalapalma.com/">
      <img src="/svg/patrocinadores/lapalma_color.svg" alt="Cooperativa La Palma" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://www.fmiguelgarcia.es/">
      <img src="/svg/patrocinadores/miguel_garcia_color.svg" alt="Fundación Miguel García" class="grayscale hover:grayscale-0 h-14 md:h-16" />
    </a>
    <a href="https://www.aguasyservicios.es/">
      <img src="/svg/patrocinadores/aguas_Y_servicios_color.svg" alt="Aguas y Servicios Costa Tropical" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://www.toyota.es/concesionarios/yokamotril">
      <img src="/svg/patrocinadores/toyota_yokamotril_color.svg" alt="Toyota Yokamotril" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://www.decathlon.es/es/store-view/tienda-de-deportes-motril-0070222302223">
      <img src="/svg/patrocinadores/decathlon_color.svg" alt="Decathlon Motril" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://reymapinturas.com/">
      <img src="/svg/patrocinadores/reyma_color.svg" alt="Pinturas Reyma" class="grayscale hover:grayscale-0 h-4 md:h-6" />
    </a>
    <a href="https://lanjaron.danone.es/">
      <img src="/svg/patrocinadores/lanjaron_color.svg" alt="Agua Lanjaron" class="grayscale hover:grayscale-0 h-10 md:h-12" />
    </a>
    <a href="https://www.gmcash.es/">
      <img src="/svg/patrocinadores/gm_cash_color.svg" alt="GM Cash" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://www.bodegasmar.com/">
      <img src="/svg/patrocinadores/bodegas_mar_color.svg" alt="Bodegas Mar" class="grayscale hover:grayscale-0 h-6 md:h-5" />
    </a>
    <a href="https://dma-dra.es/">
      <img src="/svg/patrocinadores/dma_dra_color.svg" alt="DMA DRA, Carpintería y Diseño" class="grayscale hover:grayscale-0 h-16 md:h-12" />
    </a>
    <a href="https://motril.es/deportes/">
      <img src="/svg/patrocinadores/area_deportes_color.svg" alt="Área de Deportes, Ayuntamiento de Motril" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://www.dipgra.es/servicios/areas/deportes/">
      <img src="/svg/patrocinadores/diputacionGranada_horizontal_color.svg" alt="Diputación de Granada" class="grayscale hover:grayscale-0 h-10 md:h-10" />
    </a> 
    <a href="https://www.apmotril.com/">
      <img src="/svg/patrocinadores/autoridad_portuaria_color.svg" alt="Autoridad Portuaria de Motril" class="grayscale hover:grayscale-0 h-16 md:h-14" />
    </a>
    <a href="https://granadalapalma.com/">
      <img src="/svg/patrocinadores/lapalma_color.svg" alt="Cooperativa La Palma" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://www.fmiguelgarcia.es/">
      <img src="/svg/patrocinadores/miguel_garcia_color.svg" alt="Fundación Miguel García" class="grayscale hover:grayscale-0 h-14 md:h-16" />
    </a>
    <a href="https://www.aguasyservicios.es/">
      <img src="/svg/patrocinadores/aguas_Y_servicios_color.svg" alt="Aguas y Servicios Costa Tropical" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://www.toyota.es/concesionarios/yokamotril">
      <img src="/svg/patrocinadores/toyota_yokamotril_color.svg" alt="Toyota Yokamotril" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://www.decathlon.es/es/store-view/tienda-de-deportes-motril-0070222302223">
      <img src="/svg/patrocinadores/decathlon_color.svg" alt="Decathlon Motril" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://reymapinturas.com/">
      <img src="/svg/patrocinadores/reyma_color.svg" alt="Pinturas Reyma" class="grayscale hover:grayscale-0 h-4 md:h-6" />
    </a>
    <a href="https://lanjaron.danone.es/">
      <img src="/svg/patrocinadores/lanjaron_color.svg" alt="Agua Lanjaron" class="grayscale hover:grayscale-0 h-10 md:h-12" />
    </a>
    <a href="https://www.gmcash.es/">
      <img src="/svg/patrocinadores/gm_cash_color.svg" alt="GM Cash" class="grayscale hover:grayscale-0 h-12 md:h-12" />
    </a>
    <a href="https://www.bodegasmar.com/">
      <img src="/svg/patrocinadores/bodegas_mar_color.svg" alt="Bodegas Mar" class="grayscale hover:grayscale-0 h-6 md:h-5" />
    </a>
    <a href="https://dma-dra.es/">
      <img src="/svg/patrocinadores/dma_dra_color.svg" alt="DMA DRA, Carpintería y Diseño" class="grayscale hover:grayscale-0 h-16 md:h-12" />
    </a>
  </div>
</div>

<style>
.logo-slider {
  width: max-content;
}
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-scroll {
  animation: scroll 40s linear infinite;
}
.logo-slider:hover {
  animation-play-state: paused;
}
</style>